# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 24.11.1
agentpy==0.1.5
dask==2025.11.0
distributed==2025.11.0
netcdf4==1.7.3
numpy==2.3.5
pandas==2.3.3
pytest==9.0.2
scipy==1.16.3
setuptools==80.9.0
wheel==0.45.1